.element {
    max-width: 1350px;
    margin: auto;
}

.Carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    .element_page {
        position: relative;
        width: 100%;
        height: 500px;
        border-radius: 25px;
        background-position: center;
        background-size: cover;
        .btn-right {
            cursor: pointer;
            position: absolute;
            content: "";
            top: 40%;
            left: 85%;
        }
        .btn-left {
            cursor: pointer;
            position: absolute;
            content: "";
            top: 40%;
            right: 87%;
        }
        .counter {
            position: absolute;
            right: 45%;
            top: 85%;
            font-size: 18px;
            font-weight: bold;
            color: #FFFFFF;
        }
    }
}

.logement_info {
    margin-top: -120px;
}

.text2 {
    display: grid;
    place-items: end;
    margin-left: auto;
    margin-top: -50px;
    margin-right: 60px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    width: 93px;
    color: #FF6060;
}

.circle img {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: -50px;
    margin-left: auto;
    background-color: #C4C4C4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
    

.title_logement {
    margin-top: 1rem;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26px;
    line-height: 51.34px;
    letter-spacing: 0%;
    color: #FF6060;
}

.text_logement {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    margin-top: -8px;
    color: #000000;
}

.star_element {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-left: auto;
    font-size: 28px;
    font-size: 24px;
    .star_red {
        color: #FF6060;
    }
    
    .star_grey {
        color: #C4C4C4;
    }
}

.tag_logement {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    span {
        padding: 8px 16px;
        border-radius: 10px;
        background: #FF6060;
        color: white;
        font-weight: bold;
    }
}

.logo_footer2 {
    display: grid;
    place-items: center;
    width: 100%;
    height: 209px;
    background: #000000;
    color: white;
    margin: auto;
    min-height: 140px;
    margin-top: 2rem;
    & img {
        margin-top: 2rem;
    }
}


.about2 {
    display: flex;
    justify-content: space-between;
    max-width: 1370px;
    margin: auto;
    gap: 7rem;
}

.about3 {
    display: flex;
    justify-content: space-between;
    max-width: 670px;
    margin: auto;
}

.about4 {
    .equipements-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
            font-size: 16px;
            padding: 8px 12px;
            border-radius: 5px;
        }
    }
}

ul {
    list-style-type : none;
}

.Carrousel.single-image {
    .btn-left, .btn-right, .counter {
        display: none;
    }
}

/* Version Mobile */
@media screen and (max-width: 500px) {
    .element {
        max-width: 580px;
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
    .btn-right {
        cursor: pointer;
        position: absolute;
        content: "";
        width: 4%;
        font-size: 12px;
        color: #FFFFFF;
    }
    .btn-left {
        cursor: pointer;
        position: absolute;
        content: "";
        width: 4%;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 700px) {
    .title_logement {
        font-size: 20px; // Réduction de la taille
    }
}

@media screen and (max-width: 750px) {
    .logement_info {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 3rem;
        flex-direction: row-reverse;
        gap: 140px;
    }
}

@media screen and (max-width: 780px) {
    .tag_logement {
        font-size: 10px;
    }
}

@media screen and (width <= 550px) {
    .logo_footer p {
        width: 50%;
        width: 133.59px;
        height: 440px;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        line-height: 17.11px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

@media screen and (width <= 1500px) {
    .logo_footer p {
        width: 50%;
        height: 440px;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        line-height: 17.11px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

@media screen and (width <= 1500px) {
    .logo_footer {
        width: 100%;
        height: 440px;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        line-height: 17.11px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

@media screen and ( width <= 1100px) {
    .about2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .about3 {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1240px;
    }
}

