.error_page {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6060;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 196px;
    line-height: 136.9px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 200px;
}

.text_error {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6060;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 154px;
}

.link_error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.96px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: Auto;
    color: black;
    cursor: pointer;
}

.button_random {
    background: green;
}

.button_random2 {
    background: red;
}

.button_reset {
    background-color: grey;
}